.contact-page {
    position:absolute;
    max-width: 500px;
   // margin: 50px auto;
    top:20%;
    margin-left:30%;
    width:100%;
    padding: 20px;
    background: blue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  
  .contact-page h2 {
    color: white;
    margin-bottom: 15px;
  }
  
  .contact-page p {
    font-size: 16px;
    color: white;
  }
  
  .contact-page input,
  .contact-page textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .contact-page button {
    width: 100%;
    padding: 10px;
    background: white;
    color: blue;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .contact-page button:hover {
    background: darkblue;
  }
  